.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.main-heading {
  font-size: 40px;
  margin-bottom: 10px;
}
.status-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.status-container {
  width: 25%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #f2f2f2;
  height: auto;
  padding: 10px;
}

.card-list {
  min-height: 60px;
  background: inherit;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  min-height: 40vh;
  padding: 10px 15px;
}

.card-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  cursor: move;
  background: white;
  margin-bottom: 10px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  color: lightseagreen;
}
.number {
  font-size: 15px;
}
.age {
}
.created-date {
}
.reg-date {
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
